body {
    background-color: #d8fffc;            

}

h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.recommendations {
    margin-left: 5%;
}

footer {
    text-align: center;
}

.about-emre, .about-harun, .implemented-algorithms, .intro{
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 25px;
}

.card {
    background-color: #ECF9FF;  
    margin-bottom: 5px;      
}