{% extends "layout.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

    <!-- <h1>Content Based Recommendations</h1>
    <ol>
        {% for (movie, rate) in content_based_recs %}
            <li> {{ movie, rate }} </li>
        {% endfor %}
    </ol> 
    
    <h1>Item Based Recommendations</h1>
    <ol>
        {% for (movie, rate) in item_based_recs %}
            <li> {{ movie, rate }} </li>
        {% endfor %}
    </ol> 
    
    <h1>User Based Recommendations</h1>
    <ol>
        {% for (movie, rate) in user_based_recs %}
            <li> {{ movie, rate }} </li>
        {% endfor %}
    </ol>  -->

    <h1> Recommendations </h1>
    <ol>
        {% for (movie, rate) in sum_recs %}
            <li> {{ movie, rate }} </li>
        {% endfor %}
    </ol> 



{% endblock %}