{% extends "layout.html" %}
{% block title %}Recommender Page{% endblock %}
{% block content %}

    <h1>Recommender Page</h1>
    <div class="container">
        <form action="{{ url_for('get_recommendations_page')}}" method="post">
            <div class="row">
                {% for movie in movies %}
                <div class="col-3 d-flex align-items-stretch">
                    <div class="card">
                        
                        <img src="{{ movie[4] }}" class="card-img-top" alt="...">

                        <div class="card-body">
                            <h5 class="card-title"> {{movie[2]}} </h5>
                            <p class="card-text">{{movie[3]}}</p>
                        </div>

                        <div class="form-group">
                            <label for="rating1">Rating (1-10):</label>
                            <input type="number" class="form-control" id="rating1" name="{{movie[0]}}" min="1" max="10">
                        </div>

                    </div>
                </div>
                {% endfor %}
                <input type="submit" value="Submit">
            </div>
        </form>

    </div>
{% endblock %}

